In [21]:
import pandas as pd

In [22]:
countries_df = pd.read_csv("UNSD_country_to_regions.csv")

In [23]:
countries_df.head()

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS),Unnamed: 15
0,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Algeria,12,DZ,DZA,NaN,NaN,NaN,NaN
1,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Egypt,818,EG,EGY,NaN,NaN,NaN,NaN
2,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Libya,434,LY,LBY,NaN,NaN,NaN,NaN
3,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Morocco,504,MA,MAR,NaN,NaN,NaN,NaN
4,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Sudan,729,SD,SDN,x,NaN,NaN,NaN

In [24]:
countries_df.drop(columns=["Global Code", "Global Name", "Region Code", "Sub-region Code", "Intermediate Region Code",
                           "M49 Code", "ISO-alpha2 Code", "Least Developed Countries (LDC)", "Land Locked Developing Countries (LLDC)",
                           "Small Island Developing States (SIDS)", "Unnamed: 15"],axis=1,inplace=True)
countries_df.head()

,Region Name,Sub-region Name,Intermediate Region Name,Country or Area,ISO-alpha3 Code
0,Africa,Northern Africa,NaN,Algeria,DZA
1,Africa,Northern Africa,NaN,Egypt,EGY
2,Africa,Northern Africa,NaN,Libya,LBY
3,Africa,Northern Africa,NaN,Morocco,MAR
4,Africa,Northern Africa,NaN,Sudan,SDN

In [25]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [26]:
Base = declarative_base()

In [27]:
class Country(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    country = Column(String(100))
    intermediate_region = Column(String(100))
    sub_region = Column(String(100))
    region = Column(String(100))

In [28]:
#Create db connection
engine = create_engine("sqlite:///countries.sqlite")
conn = engine.connect()

In [29]:
#creates tables from python classes
Base.metadata.create_all(engine)

In [30]:
#create connection to edit db
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [37]:
#for loop this with scraped data to add to db?
for row in countries_df.itertuples():
    country_toadd = Country(country=row[4], intermediate_region=row[3], sub_region=row[2], region=row[1])
    session.add(country_toadd)

In [38]:
#push additions to db
session.commit()

In [39]:
#close session
session.close()

In [41]:
session.query(Country.country).all()

[('Algeria',),
 ('Egypt',),
 ('Libya',),
 ('Morocco',),
 ('Sudan',),
 ('Tunisia',),
 ('Western Sahara',),
 ('British Indian Ocean Territory',),
 ('Burundi',),
 ('Comoros',),
 ('Djibouti',),
 ('Eritrea',),
 ('Ethiopia',),
 ('French Southern Territories',),
 ('Kenya',),
 ('Madagascar',),
 ('Malawi',),
 ('Mauritius',),
 ('Mayotte',),
 ('Mozambique',),
 ('Réunion',),
 ('Rwanda',),
 ('Seychelles',),
 ('Somalia',),
 ('South Sudan',),
 ('Uganda',),
 ('United Republic of Tanzania',),
 ('Zambia',),
 ('Zimbabwe',),
 ('Angola',),
 ('Cameroon',),
 ('Central African Republic',),
 ('Chad',),
 ('Congo',),
 ('Democratic Republic of the Congo',),
 ('Equatorial Guinea',),
 ('Gabon',),
 ('Sao Tome and Principe',),
 ('Botswana',),
 ('Eswatini',),
 ('Lesotho',),
 ('Namibia',),
 ('South Africa',),
 ('Benin',),
 ('Burkina Faso',),
 ('Cabo Verde',),
 ('Côte d’Ivoire',),
 ('Gambia',),
 ('Ghana',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Liberia',),
 ('Mali',),
 ('Mauritania',),
 ('Niger',),
 ('Nigeria',),
 ('Saint Helena',),
 ('Senegal',),
 ('Sierra Leone',),
 ('Togo',),
 ('Anguilla',),
 ('Antigua and Barbuda',),
 ('Aruba',),
 ('Bahamas',),
 ('Barbados',),
 ('Bonaire',),
 ('British Virgin Islands',),
 ('Cayman Islands',),
 ('Cuba',),
 ('Curaçao',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Grenada',),
 ('Guadeloupe',),
 ('Haiti',),
 ('Jamaica',),
 ('Martinique',),
 ('Montserrat',),
 ('Puerto Rico',),
 ('Saint Barthélemy',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Martin (French Part)',),
 ('Saint Vincent and the Grenadines',),
 ('Sint Maarten (Dutch part)',),
 ('Trinidad and Tobago',),
 ('Turks and Caicos Islands',),
 ('United States Virgin Islands',),
 ('Belize',),
 ('Costa Rica',),
 ('El Salvador',),
 ('Guatemala',),
 ('Honduras',),
 ('Mexico',),
 ('Nicaragua',),
 ('Panama',),
 ('Argentina',),
 ('Bolivia (Plurinational State of)',),
 ('Bouvet Island',),
 ('Brazil',),
 ('Chile',),
 ('Colombia',),
 ('Ecuador',),
 ('Falkland Islands (Malvinas)',),
 ('French Guiana',),
 ('Guyana',),
 ('Paraguay',),
 ('Peru',),
 ('South Georgia and the South Sandwich Islands',),
 ('Suriname',),
 ('Uruguay',),
 ('Venezuela (Bolivarian Republic of)',),
 ('Bermuda',),
 ('Canada',),
 ('Greenland',),
 ('Saint Pierre and Miquelon',),
 ('United States of America',),
 ('Antarctica',),
 ('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Tajikistan',),
 ('Turkmenistan',),
 ('Uzbekistan',),
 ('China',),
 ('China',),
 ('China',),
 ("Democratic People's Republic of Korea",),
 ('Japan',),
 ('Mongolia',),
 ('Republic of Korea',),
 ('Brunei Darussalam',),
 ('Cambodia',),
 ('Indonesia',),
 ("Lao People's Democratic Republic",),
 ('Malaysia',),
 ('Myanmar',),
 ('Philippines',),
 ('Singapore',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Viet Nam',),
 ('Afghanistan',),
 ('Bangladesh',),
 ('Bhutan',),
 ('India',),
 ('Iran (Islamic Republic of)',),
 ('Maldives',),
 ('Nepal',),
 ('Pakistan',),
 ('Sri Lanka',),
 ('Armenia',),
 ('Azerbaijan',),
 ('Bahrain',),
 ('Cyprus',),
 ('Georgia',),
 ('Iraq',),
 ('Israel',),
 ('Jordan',),
 ('Kuwait',),
 ('Lebanon',),
 ('Oman',),
 ('Qatar',),
 ('Saudi Arabia',),
 ('State of Palestine',),
 ('Syrian Arab Republic',),
 ('Turkey',),
 ('United Arab Emirates',),
 ('Yemen',),
 ('Belarus',),
 ('Bulgaria',),
 ('Czechia',),
 ('Hungary',),
 ('Poland',),
 ('Republic of Moldova',),
 ('Romania',),
 ('Russian Federation',),
 ('Slovakia',),
 ('Ukraine',),
 ('Åland Islands',),
 ('Guernsey',),
 ('Jersey',),
 ('Sark',),
 ('Denmark',),
 ('Estonia',),
 ('Faroe Islands',),
 ('Finland',),
 ('Iceland',),
 ('Ireland',),
 ('Isle of Man',),
 ('Latvia',),
 ('Lithuania',),
 ('Norway',),
 ('Svalbard and Jan Mayen Islands',),
 ('Sweden',),
 ('United Kingdom of Great Britain and Northern Ireland',),
 ('Albania',),
 ('Andorra',),
 ('Bosnia and Herzegovina',),
 ('Croatia',),
 ('Gibraltar',),
 ('Greece',),
 ('Holy See',),
 ('Italy',),
 ('Malta',),
 ('Montenegro',),
 ('North Macedonia',),
 ('Portugal',),
 ('San Marino',),
 ('Serbia',),
 ('Slovenia',),
 ('Spain',),
 ('Austria',),
 ('Belgium',),
 ('France',),
 ('Germany',),
 ('Liechtenstein',),
 ('Luxembourg',),
 ('Monaco',),
 ('Netherlands',),
 ('Switzerland',),
 ('Australia',),
 ('Christmas Island',),
 ('Cocos (Keeling) Islands',),
 ('Heard Island and McDonald Islands',),
 ('New Zealand',),
 ('Norfolk Island',),
 ('Fiji',),
 ('New Caledonia',),
 ('Papua New Guinea',),
 ('Solomon Islands',),
 ('Vanuatu',),
 ('Guam',),
 ('Kiribati',),
 ('Marshall Islands',),
 ('Micronesia (Federated States of)',),
 ('Nauru',),
 ('Northern Mariana Islands',),
 ('Palau',),
 ('United States Minor Outlying Islands',),
 ('American Samoa',),
 ('Cook Islands',),
 ('French Polynesia',),
 ('Niue',),
 ('Pitcairn',),
 ('Samoa',),
 ('Tokelau',),
 ('Tonga',),
 ('Tuvalu',),
 ('Wallis and Futuna Islands',)]